.timeFa {
    width: 100%;
    padding: 25px 0;
    background: #29b3f5;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    font-size: 75px;
    font-weight: 600;
    margin: 20px 0 0;
    font-family: vazir;
}

.timeFa .div-date {
    font-size: 35px;
    margin-top: 15px;
}